{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row nx-auto">
            {% for product in product %}
        
            <div class="card nx-auto mb-3" style="width: 18rem;">
                <img src="{{product.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-title">{{product.name}}</p>
                <p class="card-text">{{product.price}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}